/node_modules
/public/hot

/vendor
/resources/stubs/
/app/Http/Controllers/CrudGeneratorController.php
/app/Console/Commands/CrudGenerator.php
.env.backup
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/yml_format.md
/crudtips.readme.txt
